#u724-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u726-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u727-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u728-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u224.PamphletThumbSelected #u225-4 p,#u224.PamphletThumbSelected #u225-4 span,#u225-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u232-4,#u256-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u240-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u204,#u298-4,#u307-4,#u311-4,#u315-4,#u319-4,#u323-4,#u329-4,#u330-4,#u419-23,#u420-6,#u421-8,#u1179-12,#u1183-6,#u1181-6,#u1175-6,#u1177-4,#u1382-6,#u1383-6,#u1384-6,#u1385-6,#u1386-6
{
	font-family: pt-sans-n4, sans-serif;
}

#u591-4,#u587-6,#u594-4,#u595-4,#u1381-4,#u584-4,#u520-4,#u523-6,#u577-4,#u578-4,#u579-6,#u580-4,#u581-4,#u613-4,#u616-4,#u617-4,#u601-4,#u608-6,#u606-4,#u597-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u697-4
{
	font-family: pt-sans-i7, sans-serif;
}

#u692-4
{
	font-family: pt-sans-i7, sans-serif;
}

#u700-4
{
	font-family: pt-sans-i7, sans-serif;
}

#u710-4
{
	font-family: pt-sans-i7, sans-serif;
}

#widgetu693_input,#widgetu693_prompt,#widgetu688_input,#widgetu688_prompt,#widgetu699_input,#widgetu699_prompt,#widgetu709_input,#widgetu709_prompt
{
	font-family: pt-sans, sans-serif;
}

#u333-4,#u197-4,#u277-4,#u201-4,#u278-4,#u204-5,#u279-4,#u347-4,#u356-4,#u355-4,#u366-4,#u365-5,#u367-4,#u368-6,#u374-10,#u370-8,#u369-4,#u409-14,#u377-4,#u412-4,#u431-4,#u432-10,#u422-8,#u442-4,#u450-33,#u453-4,#u466-22,#u468-11,#u490-4,#u572-4,#u1369-4,#u328-34,#u619-6,#u671-4,#u1376-6,#u708-4,#u677-4
{
	font-family: pt-sans-n7, sans-serif;
}

